aiohttp==3.5.4
async-timeout==3.0.1
attrs==19.1.0
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.6.16
chardet==3.0.4
idna==2.8
idna-ssl==1.1.0
lxml==4.3.4
multidict==4.5.2
PyMySQL==0.9.3
requests==2.22.0
soupsieve==1.9.2
telepot==12.7
typing-extensions==3.7.4
urllib3==1.25.3
yarl==1.3.0
